<!--The whole content below can be removed with the new code.-->
<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onFirstChange()">Change First Element</button>
      <button class="btn btn-danger" (click)="onFirstDestroy()">Destroy First Element</button>
      <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement" [name]="serverElement.name">
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red;">{{serverElement.content}}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{serverElement.content}}</em>
        </p>
      </app-server-element>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>This is new component</h3>
      <hr>
      <app-servers></app-servers>
      <app-success-alert></app-success-alert>
    </div>
  </div>
</div>
